#container {
  display: grid;
  grid-template-columns: 800px 150px; 
}

#map {
  height: 800px;
  width: 800px;

  /* border: 5px solid cornflowerblue; */
}

#datelist {
  overflow: auto;
  height: 800px;
  text-align: right;
}